# virtual environments
hazen-venv
/venv/

# tests
.coverage
coverage.xml
pytest-coverage.txt
pytest.xml

# cache
**/__pycache__
.idea
.DS_Store
/.cache/
/.bash_history
.pytest_cache

# logs
logs
*.log
Hazen_logger.log
hazen.egg-info
dist

# data
uploads
*.png
report*
# TODO: Remove the following if no longer needed
hazenlib/data

# docs
docs/_build
docs/build
build

# miscellaneous
.vscode
ACR Phantom GUI/bin/x64/Debug/DockerImage/ACRPhantomImage.tar
ACR Phantom GUI/bin/x64/Files/Dockerimage/ACRPhantomImage.tar
ACR Phantom GUI/RequiredFiles/ACRPhantomImage.tar
ACR Phantom GUI/bin/x64/ACR Phantom GUI.zip
ACR Phantom GUI/bin/x64/Files.zip
/PyInstallerGUI/ACR QA Analysis/_internal
PyInstallerGUI/ACR_QA_Analysis_Package.zip
PyInstallerGUI/ACR QA Analysis/ACR QA Analysis.exe
/Result_Database
/TempDICOM
/Result_Database
DataDashboard_Plotly/ACR_Data_Dashboard.exe
DatabaseWriter/qaproject-441416-f5fec0c61099.json
/Data_Dumps
/DatabaseWriter/DatabaseAdder
