name: Package Application with Pyinstaller

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Package Application
      uses: batonogov/docker-pyinstaller@main
      with:
        path: .
        requirements: requirements.txt

    - name: List files in the repository
      run: |
        mkdir "dist/windows/ACR QA Analysis/ToleranceTable"
        ls "dist/windows/ACR QA Analysis"
        mv ToleranceTable/ToleranceTable_80mmPeg.xml "dist/windows/ACR QA Analysis/ToleranceTable"
        mv ToleranceTable/ToleranceTable_90mmPeg.xml "dist/windows/ACR QA Analysis/ToleranceTable"

    - uses: actions/upload-artifact@v4
      with:
        name: Med_ACR_QA_Framework
        path: ./dist/windows
